#container {
  display: grid;
  grid-template-columns: 40% 24%;
  grid-template-rows: 80%;
  place-content: center;
  gap: 60px;
  height: 75vh;
}

#request-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

#resp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  gap: 20px;

  background-color: black;
  text-align: center;
  height: 100%;
  border-radius: 30px;
  word-break: break-word;
  overflow: hidden;
  position: relative;
}

article#resp-container {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* #cat-eyes-container {
  position: absolute;
  top: 12px;
  height: 120px;
} */

#cat-eyes-container {
  height: 120px;
}

#text-container {
  flex: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cat-eyes {
  height: 100%;
}

#text-container {
  width: 80%;
}

#texto-extra {
  font-size: 12px;
  color: var(--text-second-color);
  text-wrap: balance;
}

#text-field {
  border: var(--line-box-color) solid 1px;
  background-color: var(--text-field-color);
  border-radius: 14px;
  padding: 12px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: white;
  box-sizing: border-box;
  font-family: var(--font-family);
}

#text-field::placeholder {
  color: var(--text-second-color);
}

#text-field::-webkit-scrollbar {
  display: none;
}

#buttons-container {
  padding-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.button:first-child {
  background-color: black;
  color: white;
}

.button {
  background-color: var(--line-box-color);
  border: 0px;
  border-radius: 10px;
  text-align: center;
  height: 48px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: filter 0.2s ease;
}

#buttons-container .button:disabled {
  filter: opacity(0.7);
  cursor: default;
}

#instructions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 12px;
  gap: 10px;

  transition: transform 0.3s ease;

  & img {
    height: 14px;
  }

  & span {
    font-size: 12px;
    font-weight: 300;
  }
}

#texto-extra {
  height: 40px;
}

#instructions.invalid {
  transform: scale(1.1);
  font-weight: 600;
}

.title {
  font-family: var(--font-family-second);
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
}

#logo-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

#copiar {
  background-color: black;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  text-align: center;
  height: 48px;
  width: 80%;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.disabled {
  display: none;
}

#respon-message {
  font-size: 20px;
  text-wrap: pretty;
  color: white;
  background-color: transparent;
  border: none;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 600;
  text-align: center;
  margin: 0;
}

#respon-message::-webkit-scrollbar {
  display: none;
}

/* Estilos resposive */
/* Movil */
@media (max-width: 560px) {
  #container {
    display: flex;
    padding: 28px;
    flex-direction: column;
    height: auto;
    gap: 10px;
  }

  #request-container {
    margin-top: 40px;
    height: 90vh;
  }

  #resp-container {
    height: 80vh;
    border-radius: 24px;
  }

  #cat-eyes-container {
    height: 25%;
  }

  #text-field {
    border-radius: 20px;
    height: 200px;
    font-size: 16px;
    align-self: center;
  }

  #buttons-container {
    flex-wrap: wrap;
    padding-top: 80px;
    gap: 16px;
  }

  .button {
    height: 60px;
    font-size: 16px;
  }

  #respon-message {
    font-size: 20px;
    height: 40%;
  }

  #copiar {
    height: 54px;
    font-size: 16px;
  }
}

/* Tableta */
@media (max-width: 995px) {
  #container {
    grid-template-columns: 40% 30%;
    gap: 40px;
  }
}
